h1{
    color: #560bad;
}
/*cuando el link no esta visitado y cuando ya lo esta*/
a:link,a:visited{
    background-color: #b5179e;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* cuando pasas arriba del link y lo activad*/
a:hover,a:active{
    background-color: #f72585;
}