body{
    --rojo: red;/*Una de las formas de  declarar una variable*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    display: flex;
    /*
    flex-direction: row;
    flex-wrap: wrap;
    */
    flex-flow: row wrap;

    

    border: 3px solid black;
    padding: 5px;
}

.caja{
    /*flex-grow: 1;Sirve para especificar que cantidad de espacio puede usar cada elemento flex */
    /*flex-basis: calc((100% / 3) - 68px); Se pueden combinar para hacer elementos flexibles*/

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}

.red{
    background: var(--rojo);
}

.green{
    background: green;
}

.blue{
    /*flex-shrink: 0;Sirve para reducir el tamaño de una caja lo contrario a flex-grow*/
    background: blue;
}

.orange{
    /*flex-basis: 100%;Sirve para declarar el ancho minimo o ancho base*/
    background: orange;
}